<div class="underline">
  <p class="label">Equipped</p>
</div>
<ul id="equipped">
  <li>none</li>
</ul>
<div class="underline">
  <p class="label">Packed</p>
</div>
<ul id="packed">
  <li>none</li>
</ul>
