@import url("mobile.css") handheld;
@import url("mobile.css") only screen and (max-device-width:640px);

nav {
	width: 300px;
	position: fixed;
	top: 193px;
	left: 50%;
	margin-left: -595px;
	text-align: right;
	z-index: 3;

	ul {
		list-style: none;
		list-style-image:none;

		li {
			padding: 5px 0px;
			background: none;
			font-style: italic;

			&.tag-h1 {
				a {
					text-decoration: underline;
					font-weight: bold;
				}
			}

			&.tag-h2 {
				a {
					text-decoration: underline;
				}
			}

			&.tag-h3 {
				a {
					font-style: italic;
				}
			}
		}
	}
}

.header-level-1 {
	font-style: normal;
	// text-align: left;
}

.faded {
	color: grey;
}

.right {
	text-align: right;
}
