#book {
    position: fixed;
    left: calc(3 * 407px);
    top: calc(3 * 36px);
    width: calc(3 * 233px);
    height: calc(3 * 291px);
    background-image: url("../graphics/book/book.d.png");
    background-repeat: no-repeat;
    background-size: auto;
    padding: 59px 80px 102px 84px;
    box-sizing: border-box;

    /* font-family: 'Snide Asides';
    font-weight: bold;
    font-size: 22px; */

    font-family: 'Abaddon Light';
    font-family: 'CelticTime';
    font-size: 24px;
}
@media (orientation: portrait) {
    #book {
        left: calc(3 * 4px);
        top: calc(3 * 25px);
        width: calc(3 * 176px);
        height: calc(3 * 216px);
        background-image: url("../graphics/book/book.m.png");
        padding: 28px 68px 75px 48px;
        font-size: 28px;
    }
}

.boxed {
    border-image: url("../graphics/book/decoration/box.png");
    border-image-slice: 30 fill;
    border-width: 30px;
    border-image-width: 30px;
    border-image-repeat: repeat;
    padding: 8px 15px;
}
.boxed.open {
    border-image-source: url("../graphics/book/decoration/open.png");
}
.underline {
    border-image: url("../graphics/book/decoration/line.png");
    border-image-slice: 21 30 12 30 fill;
    border-image-repeat: repeat;
    border-style: solid;
    border-width: 0px 30px 12px 30px;
}
.label {
    /* font-family: 'Old Fax';
    font-size: 18px; */

    font-family: 'Letterstyle';
    font-size: 12px;    
}
.underline .label {
    margin: 0 0 -7px -16px;
}
@media (orientation: portrait) {
    .label {
        font-size: 14px;
    }
}

#book span {
    width: 100%;
    display: inline-block;
}

.page {
    display: none;
    padding: 40px;
    animation: fadeEffect 1s;
    height: calc(100% - 117px);
}
  
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

p {
    margin: 0;
}

#log-page {
    height: 16%;
    width: 71%;
    position: absolute;
    top: 64%;
    padding: 40px;
}

#log-page .underline {
    margin-right: 40px;
}

#log {
    overflow-y: auto;
    height: 75%;
    scrollbar-color: var(--lines) transparent;
    scrollbar-width: thin;
}

ul {
    padding-left: 20px;
    padding-right: 40px;
    margin-top: 10px;
}

ul li {
    list-style-type: none;
    text-indent: -20px;
}

ul#log li:not(:last-child) {
    opacity: 0.5;
}

#ribbon {
    position: fixed;
    left: calc(3 * 613px);
    top: calc(3 * 37px);
    width: calc(3 * 15px);
    height: calc(3 * 268px);
    background-repeat: no-repeat;
    background-size: auto;
    animation: fadeEffect 1s;
}
.diary-ribbon {
    background-image: url("../graphics/book/ribbon/diary.d.png");
}
.info-ribbon {
    background-image: url("../graphics/book/ribbon/info.d.png");
}
.items-ribbon {
    background-image: url("../graphics/book/ribbon/items.d.png");
}
.options-ribbon {
    background-image: url("../graphics/book/ribbon/options.d.png");
}
@media (orientation: portrait) {
  #ribbon {
    left: calc(3 * 157px);
    top: calc(3 * 26px);
    width: calc(3 * 15px);
    height: calc(3 * 196px);
  }
  .diary-ribbon {
      background-image: url("../graphics/book/ribbon/diary.m.png");
  }
  .info-ribbon {
      background-image: url("../graphics/book/ribbon/info.m.png");
  }
  .items-ribbon {
      background-image: url("../graphics/book/ribbon/items.m.png");
  }
  .options-ribbon {
      background-image: url("../graphics/book/ribbon/options.m.png");
  }
}

.marker {
    position: fixed;
    left: calc(3 * 401px);
    width: calc(3 * 21px);
    height: calc(3 * 15px);
    background-repeat: no-repeat;
    background-size: auto;
    cursor: alias;
}
.marker.selected {
    visibility: hidden;
}

#marker-1.marker {
    top: calc(3 * 103px);
    width: calc(3 * 21px);
    background-image: url("../graphics/book/marker/diary.d.png");
}
#marker-1.marker:hover {
    left: calc(3 * 373px);
    width: calc(3 * 49px);
}

#marker-2.marker {
    top: calc(3 * 123px);
    width: calc(3 * 20px);
    background-image: url("../graphics/book/marker/info.d.png");
}
#marker-2.marker:hover {
    left: calc(3 * 378px);
    width: calc(3 * 43px);
}

#marker-3.marker {
    top: calc(3 * 143px);
    width: calc(3 * 19px);
    background-image: url("../graphics/book/marker/items.d.png");
}
#marker-3.marker:hover {
    left: calc(3 * 370px);
    width: calc(3 * 50px);
}

#marker-4.marker {
    top: calc(3 * 163px);
    width: calc(3 * 18px);
    background-image: url("../graphics/book/marker/options.d.png");
}
#marker-4.marker:hover {
    left: calc(3 * 358px);
    width: calc(3 * 61px);
}

@media (orientation: portrait) {
    .marker {
      width: calc(3 * 15px) !important;
      height: calc(3 * 20px) !important;
      top: calc(3 * 228px) !important;
    }
    #marker-1.marker {
        left: calc(3 * 157px);
        width: calc(3 * 15px);
        background-image: url("../graphics/book/marker/diary.m.png");
    }
    #marker-2.marker {
        left: calc(3 * 136px);
        width: calc(3 * 15px);
        background-image: url("../graphics/book/marker/info.m.png");
    }
    #marker-3.marker {
        left: calc(3 * 115px);
        width: calc(3 * 15px);
        background-image: url("../graphics/book/marker/items.m.png");
    }
    #marker-4.marker {
        left: calc(3 * 94px);
        width: calc(3 * 15px);
        background-image: url("../graphics/book/marker/options.m.png");
    }
}

#page-flip {
    position: fixed;
    right: 0;
    top: 0;
    width: 699px;
    height: 981px;
    display: none;
}
#page-flip.flip1 {
    display: block;
    background-image: url("../graphics/book/flip/1.d.png");
}
#page-flip.flip2 {
    display: block;
    background-image: url("../graphics/book/flip/2.d.png");
}
#page-flip.flip3 {
    display: block;
    background-image: url("../graphics/book/flip/3.d.png");
}
#page-flip.flip4 {
    display: block;
    background-image: url("../graphics/book/flip/4.d.png");
}
