
@font-face {
    font-family: 'Abaddon Light';
    src: url("../fonts/Abaddon Light.ttf") format('truetype');
}
@font-face {
    font-family: 'CelticTime';
    src: url("../fonts/CelticTime.ttf") format('truetype');
}
@font-face {
    font-family: 'Letterstyle';
    src: url("../fonts/Letterstyle.ttf") format('truetype');
}
@font-face {
    font-family: 'Old Fax';
    src: url("../fonts/Old Fax.ttf") format('truetype');
}
@font-face {
    font-family: 'Snide Asides';
    src: url("../fonts/Snide Asides.ttf") format('truetype');
}
