html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--text);
  background: black;

  /* prevent text selection */
  user-select: none;

  /* prevent pull down page reload */
  overscroll-behavior: contain;
}

#splash-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  background-image: url("../images/desk/desk.d.png");
  background-size: cover;
  background-repeat: round;
  box-sizing: border-box;
  padding: 50px;
}
@media (orientation: portrait) {
  #splash-screen {
    background-image: url("../images/desk/desk.m.png");
  }
}
.progress-bar {
  visibility: hidden;
  background: black;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 50%;
}
.progress-bar > div {
  background: #db8931;
  box-shadow: 0 10px 40px -10px #db8931;
  border-radius: inherit;
  height: 30px;
  width: 0;
}

#view {
  transform: scale(1.0);
  transform-origin: top left;
  font-family: 'CelticTime';
  width: 1920px;
  height: 1080px;
}
@media (orientation: portrait) {
  #view {
    width: 540px;
    height: 960px;
  }
}

#desk {
  filter: brightness(1.15);
  background-image: url("../images/desk/desk.d.png");
  width: 1920px;
  height: 1080px;
}
@media (orientation: portrait) {
  #desk {
    background-image: url("../images/desk/desk.m.png");
    width: 540px;
    height: 960px;
  }
}

#map {
  background-image: url("../images/map/map.d.png");
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 122px 162px 84px 98px;
  position: absolute;
  left: calc(3 * 27px);
  top: calc(3 * 23px);
  width: calc(3 * 417px);
  height: calc(3 * 316px);
}
#pixi-content {
  overflow: hidden;

  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 100%;  
  mask-mode: alpha;
}
@media (orientation: portrait) {
  #map {
    left: calc(3 * 0px);
    top: calc(3 * 20px);
    width: calc(3 * 180px);
    height: calc(3 * 231px);
    background-image: url("../images/map/sheet_dark.m.png");
    padding: 42px 0px;
  }
  #pixi-content {
    position: absolute;
    width: calc(3 * 180px);
    height: calc(3 * 203px);
    /* mask-image: url("../images/map/mask.m.png"); */
  }
  #overlay {
    position: absolute;
    width: calc(3 * 180px);
    height: calc(3 * 203px);
    /* background-image: url("../images/map/decoration.m.png"); */
    pointer-events: none;
  }
}

#dialog {
  visibility: hidden;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: absolute;
  padding: 20px 20px;
  font-size: 24px;
  font-family: 'Snide Asides';
  font-weight: bold;
}
@media (orientation: portrait) {
  #dialog {
    left: calc(3 * 8px);
    top: calc(3 * 236px);
    width: calc(3 * 164px);
    height: calc(3 * 75px);
    background-image: url("../images/dialog/dialog.m.png");
    padding: 45px 20px 25px;
    font-size: 28px;
  }
  #dialog-next {
    background-image: url("../images/general/arrow_down.png");
    width: calc(3 * 12px);
    height: calc(3 * 8px);
    right: 14px;
    bottom: 20px;
    position: absolute;

    animation-name: next-function;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }

  @keyframes next-function {
    0% { bottom: 20px; }
    50% { bottom: 26px; }
    100% { bottom: 20px; }
  }
}

#stopwatch {
  background-image: url("../images/watch/stopwatch.d.png");
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: absolute;
  width: calc(3 * 45px);
  height: calc(3 * 51px);
  left: calc(3 * 353px);
  top: calc(3 * 271px);
}
@media (orientation: portrait) {
  #stopwatch {
    left: calc(3 * 8px);
    top: calc(3 * 260px);
    background-image: url("../images/watch/stopwatch.m.png");
  }
}

#book-button {
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media (orientation: portrait) {
  #book-button {
    width: calc(3 * 33px);
    height: calc(3 * 38px);
    left: calc(3 * 17px);
    top: calc(3 * 265px);
    background-image: url("../images/button/book_active.png");
  }
  #book-button:active {
    background-image: url("../images/button/book_pressed.png");
  }
  #book-button:disabled {
    background-image: url("../images/button/book_inactive.png");
  }
  #book-button::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: url("../images/button/book_pressed.png") url("../images/button/book_inactive.png");
  }
}

@media (orientation: portrait) {
  #dpad {
    background-image: url("../images/dpad/dpad_middle.png");
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: absolute;
    width: calc(3 * 56px);
    height: calc(3 * 56px);
    left: calc(3 * 62px);
    top: calc(3 * 254px);
    left: calc(3 * 62px - 30px);
    top: calc(3 * 254px - 30px);
    border: 30px solid transparent;
    box-sizing: content-box;
  }
  #dpad::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: url("../images/dpad/dpad_up.png") url("../images/dpad/dpad_right.png") url("../images/dpad/dpad_down.png") url("../images/dpad/dpad_left.png") url("../images/dpad/dpad_inactive.png");
  }
  .dpad-middle {
    background-image: url("../images/dpad/dpad_middle.png");
  }
  .dpad-up {
    background-image: url("../images/dpad/dpad_up.png") !important;
  }
  .dpad-right {
    background-image: url("../images/dpad/dpad_right.png") !important;
  }
  .dpad-down {
    background-image: url("../images/dpad/dpad_down.png") !important;
  }
  .dpad-left {
    background-image: url("../images/dpad/dpad_left.png") !important;
  }
  .dpad-inactive {
    background-image: url("../images/dpad/dpad_inactive.png") !important;
    pointer-events: none;
  }
}

#version {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2px 4px;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(87, 114, 119);
}

#tooltip {
  position: absolute;
  padding: 4px 10px 0px 10px;
  font-family: 'Snide Asides';
  font-size: 22px;
  pointer-events: none;
  visibility: hidden;
  
  border-image: url("../images/general/tooltip.png");
  border-image-slice: 15 fill;
  border-width: 15px;
  border-image-width: 15px;
  border-image-repeat: repeat;
}

#lines {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/general/grid_3.png");
  opacity: 0.05;
  pointer-events: none;
}
@media (orientation: portrait) {
  #lines {
    /* pointer-events: all; */
  }
}
