html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  color: var(--text);
  background: black;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#desk {
  transform: scale(1.0);
  transform-origin: top left;
  filter: brightness(1.15);
  font-family: 'CelticTime';
  background-image: url("../graphics/desk/desk.d.png");
  width: 1920px;
  height: 1080px;
}
@media (orientation: portrait) {
  #desk {
    background-image: url("../graphics/desk/desk.m.png");
    width: 540px;
    height: 960px;
  }
}

#map {
  background-image: url("../graphics/map/map.d.png");
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 122px 162px 84px 98px;
  position: absolute;
  left: calc(3 * 27px);
  top: calc(3 * 23px);
  width: calc(3 * 417px);
  height: calc(3 * 316px);
}
#pixi-content {
  overflow: hidden;

  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 100%;  
  mask-mode: alpha;
}
@media (orientation: portrait) {
  #map {
    left: calc(3 * 0px);
    top: calc(3 * 20px);
    width: calc(3 * 180px);
    height: calc(3 * 231px);
    background-image: url("../graphics/map/sheet.m.png");
    padding: 42px 0px;
  }
  #pixi-content {
    position: absolute;
    width: calc(3 * 180px);
    height: calc(3 * 203px);
    mask-image: url("../graphics/map/mask.m.png");
  }
  #overlay {
    position: absolute;
    width: calc(3 * 180px);
    height: calc(3 * 203px);
    background-image: url("../graphics/map/decoration.m.png");
  }
}

#dialog {
  visibility: hidden;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: absolute;
  padding: 20px 20px;
  font-size: 24px;
  font-family: 'Snide Asides';
  font-weight: bold;
}
@media (orientation: portrait) {
  #dialog {
    left: calc(3 * 8px);
    top: calc(3 * 236px);
    width: calc(3 * 164px);
    height: calc(3 * 75px);
    background-image: url("../graphics/dialog/dialog.m.png");
    padding: 45px 20px 25px;
    font-size: 28px;
  }
  #dialog-next {
    background-image: url("../graphics/general/arrow_down.png");
    width: calc(3 * 12px);
    height: calc(3 * 8px);
    right: 14px;
    bottom: 20px;
    position: absolute;

    animation-name: next-function;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }

  @keyframes next-function {
    0% { bottom: 20px; }
    50% { bottom: 26px; }
    100% { bottom: 20px; }
  }
}

#stopwatch {
  background-image: url("../graphics/watch/stopwatch.d.png");
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: absolute;
  width: calc(3 * 45px);
  height: calc(3 * 51px);
  left: calc(3 * 353px);
  top: calc(3 * 271px);
}
@media (orientation: portrait) {
  #stopwatch {
    left: calc(3 * 8px);
    top: calc(3 * 260px);
    background-image: url("../graphics/watch/stopwatch.m.png");
  }
}

#book-button {
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media (orientation: portrait) {
  #book-button {
    width: calc(3 * 33px);
    height: calc(3 * 38px);
    left: calc(3 * 17px);
    top: calc(3 * 265px);
    background-image: url("../graphics/button/book_active.png");
  }
  #book-button:active {
    background-image: url("../graphics/button/book_pressed.png");
  }
  #book-button::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: url("../graphics/button/book_pressed.png");
  }
}

@media (orientation: portrait) {
  #dpad {
    background-image: url("../graphics/dpad/dpad_middle.png");
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: absolute;
    width: calc(3 * 56px);
    height: calc(3 * 56px);
    left: calc(3 * 62px);
    top: calc(3 * 254px);
    left: calc(3 * 62px - 30px);
    top: calc(3 * 254px - 30px);
    border: 30px solid transparent;
    box-sizing: content-box;
  }
  #dpad::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: url("../graphics/dpad/dpad_up.png") url("../graphics/dpad/dpad_right.png") url("../graphics/dpad/dpad_down.png") url("../graphics/dpad/dpad_left.png") url("../graphics/dpad/dpad_inactive.png");
  }
  .dpad-middle {
    background-image: url("../graphics/dpad/dpad_middle.png");
  }
  .dpad-up {
    background-image: url("../graphics/dpad/dpad_up.png") !important;
  }
  .dpad-right {
    background-image: url("../graphics/dpad/dpad_right.png") !important;
  }
  .dpad-down {
    background-image: url("../graphics/dpad/dpad_down.png") !important;
  }
  .dpad-left {
    background-image: url("../graphics/dpad/dpad_left.png") !important;
  }
  .dpad-inactive {
    background-image: url("../graphics/dpad/dpad_inactive.png") !important;
    pointer-events: none;
  }
}

#version {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
}

#tooltip {
  position: absolute;
  padding: 4px 10px 0px 10px;
  font-family: 'Snide Asides';
  font-size: 22px;
  pointer-events: none;
  visibility: hidden;
  
  border-image: url("../graphics/general/tooltip.png");
  border-image-slice: 15 fill;
  border-width: 15px;
  border-image-width: 15px;
  border-image-repeat: repeat;
}

#lines {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../graphics/general/grid_3.png");
  opacity: 0.05;
  pointer-events: none;
}
@media (orientation: portrait) {
  #lines {
    /* pointer-events: all; */
  }
}
