
:root {
  --text: #000;
  --text-faded: #757575;
  --text-warn: #D1603D;
  --divider: #BDBDBD;

  --palette1: #D52429;
  --palette2: #F1602C;
  --palette3: #EC8922;
  --palette4: #915018;
  --palette5: #6C3F18;
  --neutral1: #FFFCF3;
  --neutral2: #F1E8CB;
  --neutral3: #E4D1AC;
}
