<html>

<head>
	<title>Pixi Engine</title>

	<meta id="viewport" name="viewport"
		content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link rel="stylesheet" href="styles/variables.css">
	<link rel="stylesheet" href="styles/general.css">
	<link rel="stylesheet" href="styles/tome.css">

</head>

<body>
	<noscript>Please enable JavaScript in your web browser to view this page.</noscript>
	<div id="version">0.0.0</div>
	<div id="pixi-content"><canvas id="pixi-canvas" /></div>
	<div id="tome">
		<div class="tab">
			<button class="tab-link" onclick="changeTab(event, 'diary')">Diary</button>
			<button class="tab-link" onclick="changeTab(event, 'inventory')" id="default-tab">Inventory</button>
			<button class="tab-link" onclick="changeTab(event, 'adversary')">Adversary</button>
		</div>
		<div id="diary" class="tab-content">
			<div id="intro-section" style="height: 10%;">
				<p>This <u>journal</u> is eternal. It cannot be lost or destroyed and remembers everything happened. A source of knowledge crucial to every adventurers success.</p>
			</div>

			<div id="status-section" style="height: 40%;">
				<p>You're currently looking at:</p>
				<div id="info">
					<span>Nothing specific.</span>
				</div>
			</div>
		</div>
		<div id="inventory" class="tab-content">
			<p>This is the inventory.</p>
			<p class="label"><b>Equipped</b> items:</p>
			<ul id="equipped">
				<li>none</li>
			</ul>
			<p class="label"><b>Packed</b> items:</p>
			<ul id="packed">
				<li>none</li>
			</ul>
		</div>
		<div id="adversary" class="tab-content">
			<p>This is your current adversary.</p>
		</div>
		<div id="log-page" style="height: 50%;">
			<p id="log-head" class="label"><b>Log</b> of everything that happened so far:</p>
			<ul id="log">
				<li>Your adventure began.</li>
			</ul>
		</div>
	</div>
	<div id="tooltip">Tooltip text.</div>

	<script>
		function changeTab(event, tabName) {
			var i, tabContent, tabLinks;
			tabContent = document.getElementsByClassName('tab-content');
			for (const content of tabContent) content.style.display = 'none';
			tabLinks = document.getElementsByClassName('tab-link');
			for (const link of tabLinks) link.className = link.className.replace(' active', '');
			document.getElementById(tabName).style.display = 'block';
			event.currentTarget.className += ' active';
		}
		document.getElementById('default-tab').click();
	</script>

</body>

</html>